body {
  text-align: center;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  color: #222020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 400px;
  height: 600px;
  position: relative;
  perspective: 1000px;
  transition: all 0.3s;
  cursor: pointer;
}

.card_box {
  width: 100%;
  height: 100%;
  border: 1px solid;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.front_card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  background-color: #FFF;
  backface-visibility: hidden;
}

.back_card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222020;
  backface-visibility: hidden;
}